:root {
    --color-primary-light: #88a7ff;
    --color-primary: #4878ff;
    --color-primary-dark: #112e80;
    --color-focus: #e56700;
    --color-focus-light: #ffc188;
    --color-error: #bf3838;
    --color-success: #1fbf41;
}

html {
    font-family: sans-serif;
}

hgroup {
    text-align: center;
    margin-bottom: 12px;

    &>* {
        margin: 0;
    }
}

h1 {
    font-size: 36px;
}

p {
    font-size: 20px;
}

section {
    height: 95vh;
    display: grid;
    grid-template-rows: 1fr 8fr .5fr;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-wrap: nowrap;
    flex: 1;

    &>span {
        white-space: nowrap;
        font-size: 20px;
    }
}

input:not([type="file"]),
select {
    height: 42px;
    min-width: 128px;
    border-radius: 21px;
    background-color: white;
    border: 2px solid var(--color-primary);
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.file-upload {
    display: flex;
}

input[type="file"]::-webkit-file-upload-button,
::file-selector-button {
    height: 42px;
    min-width: 128px;
    border-radius: 21px;
    background-color: white;
    border: 2px solid #4878ff;
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    margin-inline-end: 12px;
    letter-spacing: normal;
}




input:not([type="file"]):hover,
input[type="file"]::file-selector-button:hover {
    border-color: var(--color-primary-light);
    background-color: var(--color-primary-light);
}

input[type="file"]::-webkit-file-upload-button:hover {
    border-color: var(--color-primary-light);
    background-color: var(--color-primary-light);
}

select:focus,
input:focus {
    outline: none;
    border-color: var(--color-focus);

    &:not([type="file"]) {
        background-color: var(--color-focus-light);
    }

    &::file-selector-button {
        border-color: var(--color-focus);
        background-color: var(--color-focus-light);
    }
}

select {
    &:hover {
        border-color: var(--color-primary-light);
        background-color: var(--color-primary-light);
    }

    &:focus {
        border-color: var(--color-focus);

        &:hover,
        &:active {
            border-color: var(--color-primary-light);
            background-color: white;
        }
    }

    &:focus-visible {
        border-color: var(--color-primary-light);
        background-color: white;
    }
}

a:focus {
    outline: 2px solid var(--color-focus);
}

input[disabled] {
    cursor: no-drop;
    border-color: lightgray;
    color: lightgray;
}

input[disabled]:hover {
    cursor: no-drop;
    background-color: lightgray;
    border-color: lightgray;
    color: white
}

footer {
    text-align: center;
    align-content: end;
    border-top: 1px solid lightgray;
}

.flow {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 32px;
    flex-wrap: wrap;
    width: 100%;
}

#notification {
    height: 36px;
}

.error#notification {
    color: var(--color-error);
}

.success#notification {
    color: var(--color-success);
}